.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cae9ff;
  padding: 0 10%;
  font-size: 20px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.logo {
  font-size: 2rem;
  color: #1b4965;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.headerMobile li {
  margin-right: 3rem;
  margin-left: 0rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #1b4965;
}

.header a:hover,
.header a:active {
  color: #ff6b35;
}

.active a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ff6b35;
}
