.item {
  margin: 2%;
  padding: 1rem;
  max-width: 35rem;
  text-align: center;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item h2 {
  letter-spacing: 0.2rem;
}

.item h4 {
  letter-spacing: 0.2rem;
}

.item img {
  height: 20rem;
  width: 100%;
}

.item a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #f7c59f;
  padding: 0.5rem;
}
