.detail {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.detail h1 {
  font-size: 40px;
  letter-spacing: 0.2rem;
}

.detail h4 {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

.detail p {
  font-size: 18px;
  line-height: 2rem;
  text-align: justify;
  white-space: pre-line;
}

.detail img {
  width: 100%;
}

.card {
  margin: 2%;
  padding: 1rem;
  width: 60%;
  text-align: center;
  display: inline-block;
}
